@font-face {
  font-family: 'Resume Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/resume-raleway-0.ttf) format('truetype');
}
@font-face {
  font-family: 'Resume Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/resume-raleway-1.ttf) format('truetype');
}
@font-face {
  font-family: 'Resume Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/resume-raleway-2.ttf) format('truetype');
}
